.wrapper {
    // text-align: center;
}

.title {
    padding-top: 50px;
    text-align: center;
}

.err {
    padding-top: 30px;
    text-align: center;
    color: red;
    font-weight: 700;
    font-size: 18px;
}