.title {
  padding-top: 50px;
  text-align: center;
}

.load {
  padding-top: 50px;
  text-align: center;
  padding-bottom: 50px;
}

.err {
  padding-top: 30px;
  text-align: center;
  color: red;
  font-weight: 700;
  font-size: 18px;
}
