.modalDelete {
  width: 500px;
  &__title {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 18px;
    font-weight: 700;
  }
  &__btn {
    display: flex;
    justify-content: center;
    gap: 12px;
    padding-bottom: 30px;
  }
}
