.modalDelete {
  &__title {
    text-align: center;
    padding: 20px 80px;
    padding-top: 50px;
    font-size: 18px;
    font-weight: 700;
  }
  &__btn {
    display: flex;
    justify-content: center;
    gap: 12px;
    padding: 0px 80px;
    padding-bottom: 50px;
  }
}
